@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  width: 100vw;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

button, a {
  cursor: pointer;
}

@media screen {
  .darkBackground {
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9;
    transition-duration: 0.5s;
  }
  #cartInfo {
    display: grid;
    grid-template-rows: 0.5fr 0.1fr 2fr;
    width: 90vw;
    height: 60vw;
    margin: 2vw auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -200vw; /*31*/
    left: 50%;
    z-index: 5;
    color: black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    transition-duration: 0.5s;
  }
  #cartInfo h2 {
    padding: 5vw;
    font-size: 4vw;
  }
  #cartInfo hr {
    width: 100%;
    background-color: hsl(220, 14%, 75%);
    height: 1px;
    display: grid;
    place-content: center;
  }
  #cartInfo .emptyContent {
    display: grid;
    place-content: center;
  }
  #cartInfo .cartContent {
    margin: 3vw;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img txtContent delete" "check check check";
  }
  #cartInfo .cartContent img:first-child {
    grid-area: img;
    width: 80%;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
  }
  #cartInfo .cartContent div {
    grid-area: txtContent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5vw;
  }
  #cartInfo .cartContent div p {
    color: hsl(219, 9%, 45%);
    font-size: 4vw;
    line-height: 1.25;
  }
  #cartInfo .cartContent div p:last-child {
    display: flex;
    gap: 1.5vw;
  }
  #cartInfo .cartContent div p:last-child #showTotalPrice {
    font-weight: bold;
    color: black;
    margin-left: 1vw;
  }
  #cartInfo .cartContent a {
    grid-area: check;
    background-color: hsl(26, 100%, 55%);
    display: grid;
    align-self: center;
    place-content: center;
    border-radius: 10px;
    color: #fff;
    height: 80%;
  }
  #cartInfo .cartContent #deleteContentCart {
    grid-area: delete;
    display: grid;
    justify-self: center;
    align-self: center;
    cursor: pointer;
  }
  .showCartInfo {
    top: 250px !important;
    transition-duration: 0.5s;
  }
  header {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.5fr;
    place-items: center;
    padding: 2vh 0;
    z-index: 9;
  }
  header #openMenu {
    cursor: pointer;
  }
  header #logo {
    justify-self: start;
    cursor: pointer;
    aspect-ratio: 16/6;
    -o-object-fit: contain;
       object-fit: contain;
    width: 60%;
  }
  header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header div span {
    position: relative;
  }
  header div span img {
    aspect-ratio: 1/1;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
  }
  header div span #infoTotalItems {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2vw;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    text-align: center;
    background-color: hsl(26, 100%, 55%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header div img {
    aspect-ratio: 1/1;
    -o-object-fit: contain;
       object-fit: contain;
    width: 25%;
    cursor: pointer;
  }
  header .openMenu {
    left: 0 !important;
    transition-duration: 0.5s;
  }
  header nav {
    position: absolute;
    left: -70vw;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    width: 70vw;
    padding: 5vw;
    transition-duration: 0.5s;
  }
  header nav img {
    aspect-ratio: 1/1;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 5vh;
    cursor: pointer;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  header nav ul a {
    color: black;
    font-weight: 700;
  }
  main {
    width: 100vw;
  }
  main .swiper {
    width: 100%;
  }
  main .swiper img {
    width: 100%;
  }
  main .swiper-button-next::after {
    content: "";
  }
  main .swiper-button-prev::after {
    content: "";
  }
  main .swiper-btn-nav {
    width: 3rem;
    height: 3rem;
    background-color: white;
    padding: 1vw;
    border-radius: 50%;
    cursor: pointer;
  }
  main .swiper-btn-nav img {
    width: 30%;
  }
  main .swiper-btn-navhover {
    background-color: #ccc;
  }
  main .thumb {
    display: none;
  }
  main .info-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    width: 90vw;
    margin: 2.5vh auto;
  }
  main .info-products aside {
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(0.5rem, 0.1154rem + 2.0513vw, 1.5rem);
    line-height: 1.25;
    letter-spacing: 1vw;
  }
  main .info-products h1 {
    font-weight: 700;
    font-size: clamp(2rem, 1.6154rem + 2.0513vw, 2.5rem);
    line-height: 1.25;
  }
  main .info-products p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(219, 9%, 45%);
  }
  main .info-products .products-price {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    align-items: center;
  }
  main .info-products .products-price #price {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    margin-right: 3vw;
  }
  main .info-products .products-price #price #itemPrice {
    font-size: 1rem;
    color: black;
    font-weight: 700;
    margin-right: 3vw;
  }
  main .info-products .products-price p:nth-child(2) {
    display: grid;
    place-content: center;
    background-color: hsl(25, 100%, 94%);
    border-radius: 10px;
    width: 30%;
    padding: 0.5vw 2.25vw;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    text-align: center;
    font-size: 0.8rem;
  }
  main .info-products .products-price #olderPrice {
    text-decoration: line-through;
    font-size: 4vw;
    font-weight: 700;
  }
  main .info-products .total-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(223, 64%, 98%);
    padding: 2vw 0;
    border-radius: 0.625rem;
  }
  main .info-products .total-products img {
    aspect-ratio: 1/1;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 1rem;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  main .info-products .total-products img:hover {
    background-color: hsl(25, 100%, 94%);
    transition-duration: 0.5s;
  }
  main .info-products button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    background-color: hsl(26, 100%, 55%);
    color: white;
    padding: 1.5rem 0;
    border-radius: 0.625rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 5vh;
  }
  main .info-products button img {
    aspect-ratio: 1/1;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .attribution {
    background-color: hsl(26, 100%, 55%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 2.5vw;
  }
  .attribution a {
    color: white;
    text-decoration: underline;
  }
}
@media screen and (min-width: 720px) {
  #openMenu, #closeMenu {
    display: none;
  }
  header {
    grid-template-columns: 0.5fr 1fr 1fr !important;
    grid-template-areas: "logo nav cart";
    gap: 2.5vw;
    width: 80vw;
    margin: auto;
    height: unset;
  }
  header #logo {
    grid-area: logo;
    width: 100%;
  }
  header div {
    justify-self: end;
  }
  header nav {
    justify-self: start;
    position: static;
    background: none;
    padding: 0;
    width: unset;
    z-index: 5;
    gap: 2vw;
  }
  header nav ul {
    gap: 1vw;
    flex-direction: row;
    width: 10%;
  }
  header nav ul li {
    font-size: 1.5vw;
  }
  header nav ul li a {
    font-weight: normal;
    color: hsl(219, 9%, 45%);
  }
  hr {
    width: 80vw;
    margin: 1rem auto;
    background-color: #ccc;
    height: 2px;
  }
  main {
    width: 80vw;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
  }
  main .info-products {
    width: 45%;
  }
  main .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
  }
  main .slider .swiper {
    width: 100%;
  }
  main .slider .swiper div img {
    border-radius: 10px;
  }
  main .slider .thumb {
    display: block;
  }
  main .slider .thumb .swiper-slide {
    border: none;
  }
  main .slider .thumb .swiper-slide img:hover {
    opacity: 50%;
    transition-duration: 0.1s;
    border: 2px solid hsl(26, 100%, 55%);
  }
  main .slider .thumb .swiper-slide img:active {
    opacity: 50%;
    transition-duration: 0.1s;
    border: 2px solid hsl(26, 100%, 55%);
  }
  #infoTotalItems {
    width: 12px !important;
    height: 12px !important;
    font-size: 12px !important;
  }
  #cartInfo {
    top: -100vw;
    left: 75%;
    width: 500px;
    height: 300px;
  }
  #cartInfo h2 {
    font-size: 2rem;
    padding: 1rem;
  }
  #cartInfo .cartContent {
    margin: 3vw;
    display: grid;
    gap: 10px;
    grid-template-columns: 0.25fr 1fr 0.1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img txtContent delete" "check check check";
  }
  #cartInfo .cartContent img:first-child {
    grid-area: img;
    width: 90%;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
  }
  #cartInfo .cartContent div {
    grid-area: txtContent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  #cartInfo .cartContent div p {
    color: hsl(219, 9%, 45%);
    font-size: 1rem;
    line-height: 1.25;
  }
  #cartInfo .cartContent div p:last-child {
    display: flex;
    gap: 1.5vw;
  }
  #cartInfo .cartContent div p:last-child #showTotalPrice {
    font-weight: bold;
    color: black;
    margin-left: 1vw;
  }
  #cartInfo .cartContent a {
    grid-area: check;
    background-color: hsl(26, 100%, 55%);
    display: grid;
    align-self: center;
    place-content: center;
    border-radius: 10px;
    color: #fff;
    height: 80%;
  }
  #cartInfo .cartContent #deleteContentCart {
    grid-area: delete;
    display: grid;
    justify-self: center;
    align-self: center;
    cursor: pointer;
  }
  .showCartInfo {
    top: 30vh !important;
  }
}/*# sourceMappingURL=style.css.map */